[Unit]
Description=Decrypt file on boot
After=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/decrypt.sh

[Install]
WantedBy=multi-user.target

