[Unit]
Description=Decrypt file on boot
After=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/home/client/TP_Encrypt_Decrypt_Service/src/decrypt.sh

[Install]
WantedBy=multi-user.target

