[Unit]
Description=Encrypt file on boot
After=network-online.target

[Service]
Type=simple
RemainAfterExit=yes
ExecStart=/bin/crypt.sh


[Install]
WantedBy=multi-user.target

